[submodule "games/doom/browser/wasm"]
	path = games/doom/browser/wasm
	url = https://github.com/cloudflare/doom-wasm.git
[submodule "games/doom/wads"]
	path = games/doom/wads
	url = https://github.com/Akbar30Bill/DOOM_wads.git
