[submodule "games/doom/browser/wasm"]
	path = games/doom/browser/wasm
	url = https://github.com/cloudflare/doom-wasm.git
[submodule "games/doom/wads"]
	path = games/doom/wads
	url = https://github.com/Akbar30Bill/DOOM_wads.git
[submodule "games/doom/references/Arnold"]
	path = games/doom/references/Arnold
	url = https://github.com/glample/Arnold.git
[submodule "games/doom/ViZDoom"]
	path = games/doom/ViZDoom
	url = https://github.com/Farama-Foundation/ViZDoom.git
[submodule "games/doom/Arnold"]
	path = games/doom/Arnold
	url = https://github.com/glample/Arnold.git
